In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
scores=pd.read_excel('school scores.xlsx')
display(scores.head())
X=scores["Hours"].values
y=scores["Scores"].values

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [3]:
X=X.reshape(1,-1)
X=X.transpose()
X.shape

(25, 1)

In [4]:
model= LinearRegression()
model.fit(X,y)
prediction=model.predict([[9.25]])
prediction

array([92.90985477])